<div class="col-auto" style="margin-top: 10px;">
    <button class="btn btn-primary" style="width: 120px; height: 40px;margin-left: 10px;margin-top: 10px;" type="button" 
    (click)="onButtonClick()">
    Edit
  </button>
  <button class="btn btn-primary" style="width: 120px; height: 40px;margin-left: 10px;margin-top: 10px;" type="button" 
    (click)="onButtonClick()">
    Add
  </button>
  <button class="btn btn-primary" style="width: 120px; height: 40px;margin-left: 10px;margin-top: 10px;" type="button" 
  (click)="onButtonClick()">
  Remove
</button>
<button class="btn btn-primary" style="width: 200px; height: 40px;margin-left: 10px;margin-top: 10px;" type="button" 
(click)="onButtonClick()">
Import from Other User</button>
<button class="btn btn-primary" style="width: 120px; height: 40px; float: right;margin-top: 10px; margin-right: 10px;" type="button" 
(click)="onButtonClick()">
OK</button>
</div>
